<div id="estados" class="z-60 hidden bg-gray-50 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-600">
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
    @for (estado of estados; track $index) {
      <li class="w-full hover:bg-gray-100 dark:hover:bg-gray-400 dark:hover:text-white">
        <button (click)="select([estado.id, 1])" class="block px-4 py-2 ">{{estado?.nombre}}</button>
      </li>
    }
  </ul>
</div>

<div id="prioridades" class="z-60 hidden bg-gray-50 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-600">
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
    @for (prioridad of prioridades; track $index) {
      <li class="w-full hover:bg-gray-100 dark:hover:bg-gray-400 dark:hover:text-white">
        <button (click)="select([prioridad.id, 2])" class="block px-4 py-2">{{prioridad?.nombre}}</button>
      </li>
    }
  </ul>
</div>