<div style="background-image: url('../../assets/images/bg.jpg');background-size: cover;">
  
  <div class="flex justify-center h-screen">
    <div class="container w-3/4 backdrop-blur-lg rounded-lg shadow-2xl h-min my-auto">
      <div class="container flex pt-10 ">
  
        <div class="container justify-center align-middle px-20 py-20 hidden md:flex">
          <img src="../../assets/images/logo.png" class="w-full m-auto" alt="logos">
        </div>
      
        <div class="line w-1 bg-black my-6 hidden md:flex"></div>
      
        <div class="container px-20 py-10">
          <h2 class="text-3xl font-extrabold text-center mb-4">Login</h2>
          <form [formGroup]="loginForm">
            <label for="usuario" class="block mb-2 text-sm font-medium text-gray-900">Usuario</label>
            <div class="relative mb-6">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>          
              </div>
              <input formControlName="user" type="text" name="user" id="user" class="bg-transparent border border-black text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  " required placeholder="Usuario">
            </div>
            
            <label for="pass" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
            <div class="relative mb-6">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg>                   
              </div>
              <input formControlName="pass" type="password" id="pass" name="pass" class="bg-transparent border border-black text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  " required placeholder="Contraseña">
            </div>
            <div class="boton flex justify-center mb-3">
              <button type="submit" (click)="login()"  class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300  font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">ENTRAR</button>
            </div>
          </form>
          <div class="text-sm flex items-center p-1 mb-4 text-yellow-800 rounded-lg bg-yellow-50 " role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <div>
              <span class="font-medium">Datos incompletos</span> Por favor, rellene los datos necesarios
            </div>
          </div>
        </div>

      </div>
      
      <div class="w-full">
        <img src="../../assets/images/logo icono.png" alt="icono" class="h-12 rounded-full mx-auto">
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
