<div class="bg-white h-full p-4">
  @for (i of [0,1]; track $index) {
    <div class="border border-cyan-300 flex flex-col p-4">
      <div class="flex flex-row justify-around w-full">
        <h2 class="text-lg font-medium text-gray-800">Orden de Entrada</h2>
        <img src="../../../assets/images/logo.png" alt="" class="h-10">
      </div>
      <div class="grid gap-3 mb-6 grid-cols-9 pt-2">
        <div>
          <label class="block mb-2 text-xs font-medium text-gray-800">Folio</label>
          <div class="border border-cyan-300 text-gray-900 text-xs rounded-sm block w-full p-1.5 text-center">Folio</div>
        </div>
        <div class="col-span-2">
          <label class="block mb-2 text-xs font-medium text-gray-800">Nombre</label>
          <div class="border border-cyan-300 text-gray-900 text-xs rounded-sm block w-full p-1.5 text-center">Nombre</div>
        </div>
        <div class="col-span-2">
          <label class="block mb-2 text-xs font-medium text-gray-800">Teléfono</label>
          <div class="border border-cyan-300 text-gray-900 text-xs rounded-sm block w-full p-1.5 text-center">Teléfono</div>
        </div>
        <div class="col-span-2">
          <label class="block mb-2 text-xs font-medium text-gray-800">Fecha</label>
          <div class="border border-cyan-300 text-gray-900 text-xs rounded-sm block w-full p-1.5 text-center">Fecha</div>
        </div>
        <div class="col-span-2">
          <label class="block mb-2 text-xs font-medium text-gray-800">Quien recibe</label>
          <div class="border border-cyan-300 text-gray-900 text-xs rounded-sm block w-full p-1.5 text-center">Quien recibe</div>
        </div>
      </div>
    </div>
  }
</div>