<p class="text-center mb-3 text-xl font-black dark:text-white">GENERAR NOTA</p>
<div class="h-auto flex gap-2 max-h-full flex-col">

  <div class="w-full flex flex-col p-6 bg-cyan-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <app-usuario-cliente
      (enviarCliente) = "elegirCliente($event)"
    ></app-usuario-cliente>
  </div>

  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-2">
    <!--  Agregar equipo -->
    <app-agregar-equipo ></app-agregar-equipo>
    <!-- Tabla de equipos -->
    <div class="w-full col-span-1 flex flex-col p-6 bg-cyan-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <app-tabla-equipos [cliente]="cliente"></app-tabla-equipos>
    </div>
    
  </div>
</div>


