<form [formGroup]="addEquipo" class="w-full flex flex-col lg:flex-row gap-3 py-6 px-4 bg-cyan-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

  <div class="flex flex-col gap-5 lg:w-1/5">
    <div class="row-span-1">
      <label for="tipo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo</label>
      <select formControlName="tipoPendiente" id="tipo" name="tipo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
        <option value="">Elija un tipo de pendiente</option>
        @for (pendiente of pendientes; track $index) {
            <option value='{{pendiente.id}}'>{{pendiente.nombre}}</option>
        }
      </select>
    </div>
    <div class="row-span-1">
      <label for="tipo-equipo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de equipo</label>
      <input type="text" formControlName="tipo" name="tipo-equipo" id="tipo-equipo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Ej: Laptop" >
    </div>
    <div class="row-span-1">
      <label for="marca" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Marca</label>
      <input type="text" formControlName="marca" name="marca" id="marca" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Ej: Asus" >
    </div>
  </div>

  <div class="flex flex-col gap-5 lg:w-1/5">
    <div class="row-span-1">
      <label for="modelo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Modelo</label>
      <input type="text" formControlName="modelo" name="modelo" id="modelo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Modelo..." >
    </div>
    <div class="row-span-1">
      <label for="color" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Color</label>
      <input type="text" formControlName="color" name="color" id="color" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Ej: Negro" >
    </div>
    <div class="row-span-1">
      <label for="pass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
      <input type="text" formControlName="pass" name="pass" id="pass" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Contraseña..." >
    </div>
  </div>
  <div class="flex flex-col gap-4 lg:w-1/5">
    <div>
      <label for="problema" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Problema</label>
      <textarea name="problema" formControlName="problema" rows="3" id="problema" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Describe el problema del equipo." ></textarea>
    </div>
    <div class="col-span-2">
      <label for="extras" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones</label>
      <textarea name="extras" formControlName="extras" rows="4" id="extras" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Observaciones extra" ></textarea>
    </div>
  </div>

  <!-- Extras -->
  <div class="lg:w-1/5 h-full flex flex-col ">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Extras</label>
    <div class="grid grid-cols-2 grid-flow-row row-span-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
      <div class="flex items-center mb-4">
        <input id="cargador" formControlName="cargador" type="checkbox"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="cargador" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 overflow-hidden">Cargador</label>
      </div>
  
      <div class="flex items-center mb-4">
        <input id="funda" formControlName="funda" type="checkbox"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="funda" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Funda</label>
      </div>
      
      <div class="flex items-center">
        <input id="usb" formControlName="usb" type="checkbox"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="usb" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">USB</label>
      </div>
      
      <div class="flex items-center">
        <input id="cables" formControlName="cables" type="checkbox"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="cables" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 overflow-hidden">Cables</label>
      </div>
      
      
    </div>
    <div class="flex justify-center items-center lg:h-36 m-4">
      <button type="button" (click)="mostrar()" class="h-min p-3 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm  text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Agregar equipo</button>
    </div>
  </div>
  
  <div class=" flex justify-center flex-row lg:flex-col lg:w-1/6 px-8 pt-4 lg:pl-5 border-0 border-gray-500 border-t-2 lg:border-l-2 lg:border-t-0">
    <button type="button" (click)="crearNota()" class="h-min p-3 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium text-sm rounded-full  text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Crear Nota</button>
  </div>

  </form>