<form [formGroup]="cliUser">
  <div class="grid gap-4 mb-4 grid-cols-1 md:grid-cols-3">
    <div class="col-span-1 flex">
      <div class="self-end pb-1">
        <button type="button" title="Agregar cliente" data-modal-target="add-cliente" data-modal-toggle="add-cliente" class="text-white  bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
            <path fill="currentColor" d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5z"/>
          </svg>
        </button>
      </div>
      <div class="w-full">
        <label for="cliente" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cliente</label>
        <input autocomplete="off" type="text" name="cliente"  id="cliente" list="data-clientes" (input)="alerta($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Cliente..." >
      </div>
    </div>
    <div class="col-span-1">
      <label for="tel" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
      <input type="text" formControlName="tel" name="tel" id="tel" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="3481489508" >
    </div>
    <div class="col-span-1">
      <label for="usuario" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Usuario</label>
      <select formControlName="usuario" id="usuario" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
        @for (usuario of usuarios; track $index) {
            <option value='{{usuario.id}}'>{{usuario.user}}</option>
        }
      </select>
    </div>
  </div>
</form>

<datalist id="data-clientes">
  
  @for (cliente of clientes; track $index) {
    <option value="{{cliente.nombre}}"></option>
  }
</datalist>

<app-add-clientes [add]="true" [cliente]="undefined"></app-add-clientes>