@tailwind base;
@tailwind components;
@tailwind utilities;

.ng-invalid:not(form).ng-touched{
  border: 2px solid red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
